@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif;
*/

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgb(16,16,35), rgb(25,33,85));


}

p {
    font-family: 'Inter', sans-serif;
}

#topbar {
    height: 7vh;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    background: linear-gradient(90deg, rgb(16,16,35), rgb(25,33,85));
    align-items: center;
    
    
}


.drop-down-menù {
    display: flex;
    margin: 0 2em 0 20em;
    font-size: 0.8em;
    font-weight: bold;
}

#ddm-corsi {
    position: absolute;
    width: 43em;
    background: linear-gradient(45deg, rgb(16,16,35), rgb(25,33,85) );
    border: 1px solid white;
    border-radius: 0.3em;
    display: none;
    padding: 1em 0.5em 1.5em 0.5em;
    cursor: auto;
    
}

#ddm-corsi h1 {
    cursor: pointer;
}

.ddm-container {
    cursor: pointer;
}

#corsi-on:hover #ddm-corsi {
    display: flex;
    justify-content: space-between;

}




.corsi {
    padding: 0.5em 1em;
    margin-left: 1em;
    border-left: 2px solid transparent;
    border-image: linear-gradient(0deg, rgb(75, 17, 168), rgb(175, 0, 175), rgb(255, 66, 255) );
    border-image-slice: 1;
    font-size: 12px;
}

.corsi p {
    font-style: italic;
    margin-bottom: 1.5em;
    margin-top: 0;
    color: rgb(185, 185, 185);
    font-weight: 300;
}

#ddm-corsi h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.h1-corsi {
    margin-left: 2em;
}

#ddm-why-epi {
    position: absolute;
    width: 18em;
    background: linear-gradient(45deg, rgb(16,16,35), rgb(25,33,85) );
    border: 1px solid white;
    border-radius: 0.3em;
    padding: 1em 2em 1em 2.1em;
    line-height: 1.5em;
    display: none;

}

#why-epi:hover #ddm-why-epi{
    display: block;
}

.ddm-container:hover ion-icon {
    transform: rotate(180deg);
}

#ddm-why-epi p {
    cursor: pointer;
}

#ddm-why-tech {
    position: absolute;
    width: 20em;
    background: linear-gradient(45deg, rgb(16,16,35), rgb(25,33,85) );
    border: 1px solid white;
    border-radius: 0.3em;
    padding: 1em 2em 1em 2.1em;
    line-height: 1.5em;
    display: none;

}

#why-tech p {
    cursor: pointer;
}

#why-tech:hover #ddm-why-tech {
    display: block;

}

#ddm-4company {
    position: absolute;
    width: 15em;
    background: linear-gradient(45deg, rgb(16,16,35), rgb(25,33,85) );
    border: 1px solid white;
    border-radius: 0.3em;
    padding: 1em 2em 1em 2.1em;
    line-height: 1.5em;
    display: none;
}

#ddm-4company p {
    cursor: pointer;
}

#f-company:hover #ddm-4company {
    display: block;
}

.ddm-container {
    margin: 0 2em;
    display: flex;
    align-items: center;
}

.ddm-container ion-icon {
    margin-left: 0.5em;
}

.button-container {
    width: 10em;
}

#apply-button {
    width: 11em;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(0,255,255);
    color: black;
    letter-spacing: 0.15em;
    height: 3em;
}

#apply-button ion-icon {
    font-size: larger;
    margin-left: 0.3em;
}

#italy-logo {
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1em;
}


#main {
    width: 100%;
    height: 100vh;
    color: white;
    
}


#mc1-img {
    width: 39em;
}

#main-content-1 {
    display: flex;
    justify-content: center;
    margin-top: 14em;
    
}

#mc1-text {
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    line-height: 1.5em;
}

.mc1-list {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 0px;
    margin-left: 0.2em;
    margin-bottom: 2em;
}

.mc1-list p {
    padding-left: 0.2em;
    margin: 0;
}

.mc1-list ion-icon {
    font-size: 0.5em;
    color: rgb(244,8,193);
}

#apply-button-mc1 {
    width: 12em;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(0,255,255);
    color: black;
    letter-spacing: 0.15em;
    height: 4em;
}

#logo-img {
    position: absolute;
    bottom: 1em;
    z-index: -1;
    right: 35em;
}

#logo-png {
    width: 45em;
}


.separatore-1 {
    background: linear-gradient(90deg, rgb(45,39,223), rgb(203,35,118));
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container-1 {
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.text-container-1 h1 {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    color: rgb(255,0,214);
    font-size: 40px;
    
}

.text-container-1 p {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
 
}

.separatore-2 {
    background: linear-gradient(90deg, rgb(16,16,35), rgb(25,33,85));
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.text-container-2 {
    margin: 0 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12em;
    
}

.text-container-2 h1 {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    color: rgb(255,0,214);
    font-size: 40px;
    
}

.text-container-2 p {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;

 
}

#container-2 {
    background: linear-gradient(90deg, rgb(16,16,35), rgb(25,33,85));
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6em;
}

#h1-container-2 {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    margin: 2.5em 0;
    font-size: 22px;

}

.text-container-2 ion-icon {
    font-size: 4em;
    margin: 0;
    color:aqua;
}

.container-3 {
    background: linear-gradient(55deg, rgb(16,16,35), rgb(25,33,85));
    width: 100%;
    height: 70vh;
}

.box-text {
    display: flex;
    justify-content: center;
}

#title-container-3 {
    display: flex;
    justify-content: center;
    padding: 4em;
  
}

#h1-container-3 {
    width: 24em;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    
    
}

#p-container-3 {
    display: flex;
    align-items: center;
    
}

.content-box {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(203,35,118);
    border-radius: 20px;
    background: linear-gradient(20deg, rgb(16,16,35), rgb(25,33,85));
    width: 13em;
    padding: 1.5em;
    text-align: start;

}

.content-box h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 22px ;
}

.content-box p {
    font-family: 'Inter', sans-serif;
}

#tizio-img {
    width: 22em;
}

.container-4 {
    background: linear-gradient(55deg, rgb(16,16,35), rgb(25,33,85));
    height: 38em;
    width: 100%;
    display: flex;
    justify-content: center;
}

#text-container-4 {
    width: 35em;
    margin: 3.5em 4em;
    
}

#text-container-4 p {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 1.7em;
}

#text-container-4 h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
}

#img-container-tizio {
    width: 34em;
    padding-top: 8em;
}

#job-stat {
    display: flex;
    justify-content: space-between;
    

}

#job-stat h1 {
    font-size: 22px;
    margin-bottom: 0;

}

#job-stat p {
    font-size: 14px;
    margin-top: 0;
}

#job-stat ion-icon {
    font-size: 3.5em;
    margin: 0;
    color: rgb(226, 43, 144);

}

#box-graduation {
    width: 46em;
    display: flex;
    flex-wrap: wrap;
    padding: 2.5em;
    
}

#box-graduation div {
    width: 20em;
    background-color: white;
    color: black;
    border: none;
    border-radius: 15px;
    margin: 0.5em;
    padding: 1em;
}

#box-graduation img {
    width: 4em;
    border-radius: 100%;
}

#box-graduation h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
}

#box-graduation p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

#text-wait h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
}

#text-wait p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 2em;
}

#text-wait {
    width: 31em;
    display: flex;
    align-items: center;
}

#separatore-3 {
    height: 30vh;
    background: linear-gradient(90deg, rgb(45,39,223), rgb(203,35,118));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3em;
}


#separatore-3 h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 45px;
    margin-bottom: 0%;
}

#separatore-3 p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin-bottom: 2em;
 
}

#container-text-separatore-3 {
    width: 50em;
}


#button-3 {
    width: 20em;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(0,255,255);
    color: black;
    letter-spacing: 0.15em;
    height: 3em;
}

#button-container-3 {
    display: flex;
    justify-content: center;
}